In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r'C:\Users\George.Macharia\Desktop\mlfiles\hotelbookings.csv')

In [8]:
df1=df.iloc[:,2:3]
df1

        lead_time
0             342
1             737
2               7
3              13
4              14
...           ...
119385         23
119386        102
119387         34
119388        109
119389        205

[119390 rows x 1 columns]

In [11]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler(feature_range=(0,1))
df1_scaled=sc.fit_transform(df1)